.page {
  --gap: 5rem;
}

.experience,
.education,
.educationList {
  --gap: 1.875rem;
}

.experienceList {
  --gap: 0;
}

.resume {
  text-align: center;
}

@media screen and (max-width: 47.9375rem) {
  .experienceList {
    --gap: 5rem;
  }
}
