.projectListItemLink {
  display: block;
  padding: 1.25rem;
  border-radius: 0.625rem;

  &:hover {
    transition: background-color 0.3s ease;
    background: rgba(237, 181, 117, 0.1);
    color: inherit;
  }
}

.projectPreviewImageContainer {
  border-radius: 0.625rem;
  height: 11.25rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.projectPreviewImage {
  object-fit: cover;
  object-position: top center;
}

.projectListItem {
  --gap: 1.5625rem;
  height: 100%;
}

.projectTitle {
  color: inherit;
}

.projectOverview {
  --gap: 1.25rem;
}

.skillsContainer {
  --gap: 0.75rem;
  margin-top: auto;
}
