.projectListItemLink {
  border: 1px solid var(--yellow-alpha-30);
  border-radius: 0.625rem;
  display: block;
  padding-bottom: 1.25rem;
  overflow: hidden;
  transition:
    border 0.3s ease,
    background-color 0.3s ease;

  &:hover {
    background: var(--yellow-alpha-10);
    border-color: var(--yellow-alpha-10);
    color: inherit;
  }
}

.projectPreviewImageContainer {
  height: 13.125rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.projectPreviewImage {
  object-fit: cover;
  object-position: top center;
}

.projectListItem {
  --gap: 1.5625rem;
  height: 100%;
}

.projectInfo {
  flex-grow: 1;
  padding-inline: 1.25rem;
}

.projectOverview {
  --gap: 1.25rem;
}

.skillsContainer {
  --gap: 0.75rem;
  margin-top: auto;
}
