@import '../basics/variables/colors.css';
@import '../basics/variables/layout.css';
@import '../basics/variables/fonts.css';
@import '../basics/variables/headings.css';
@import '../basics/variables/text.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html:has(dialog[open]) {
  overflow: hidden;
}

body {
  color: var(--green-x-light);
  background: var(--green-dark);
  display: flex;
  flex-direction: column;
  font-family: var(--font-montserrat), sans-serif;
  gap: 9.375rem;
  margin: auto;
  padding: 9.375rem 0 3.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
