@import '../basics/variables/colors.css';
@import '../basics/variables/layout.css';
@import '../basics/variables/fonts.css';
@import '../basics/variables/headings.css';
@import '../basics/variables/text.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html:has(dialog[open]) {
  overflow: hidden;
}

body {
  color: var(--green-x-light);
  background: var(--green-dark);
  display: grid;
  font-family: var(--font-quicksand);
  gap: 4.6875rem;
  grid-template-rows: auto 1fr auto;
  margin: auto;
  min-height: 100vh;
  padding: 3.75rem 2.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
