.aboutPage {
  --gap: 7.5rem;
}

.aboutMeDescription,
.skills {
  --gap: 1.875rem;
}

.aboutMe {
  --gap: 3.75rem;

  align-items: flex-start;
  justify-content: space-between;
}

.profileImage {
  border-radius: 50%;
  height: 13.5625rem;
  width: 13.5625rem;
}

.skillsList {
  flex-wrap: wrap;
}

@media screen and (max-width: 40rem) {
  .aboutMe {
    flex-direction: column-reverse;
  }

  .profileImage {
    align-self: center;
  }

  .skillsList {
    gap: 10px;
  }
}
