:root {
  --color-white: #ffffff;

  --gray: #adadad;

  --green-dark: #142121;
  --green-x-light: #c5d8d8;

  --yellow: #edb575;

  /* Alpha Aliases */
  --yellow-alpha-85: rgb(237, 181, 117, 0.85);
  --yellow-alpha-30: rgb(237, 181, 117, 0.3);
  --yellow-alpha-10: rgb(237, 181, 117, 0.1);
}
