h1,
.heading1,
h2,
.heading2,
h3,
.heading3 {
  color: var(--yellow);
  font-weight: var(--font-weight-light);
}

h1,
.heading1 {
  font-size: var(--font-size-2x-large);
}

h2,
.heading2 {
  font-size: var(--font-size-x-large);
}

h3,
.heading3 {
  font-size: var(--font-size-large);
}

h4,
.heading4 {
  font-size: var(--font-size-medium);
  text-transform: uppercase;
}

@media screen and (max-width: 47.9375rem) {
  h1,
  .heading1 {
    font-size: var(--font-size-x-large);
  }

  h2,
  .heading2 {
    font-size: var(--font-size-large);
  }

  h3,
  .heading3 {
    font-size: var(--font-size-medium);
  }

  h4,
  .heading4 {
    font-size: var(--font-size-base);
  }
}
