.verticalFlex {
  --gap: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.horizontalFlex {
  --gap: 1.25rem;

  align-items: center;
  display: flex;
  gap: var(--gap);
}

.gridTwoColumn {
  --gap: 2.8125rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

@media screen and (max-width: 767px) {
  .gridTwoColumn {
    grid-template-columns: 1fr;
  }
}
