p {
  line-height: 1.4;

  & a {
    color: var(--yellow);

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--yellow);
  }
}
