.skill {
  &.pill,
  &.pillCondensed {
    align-items: center;
    background: var(--color-white);
    border-radius: 1rem;
    color: var(--green-dark);
    display: inline-flex;
    gap: 0.3125rem;
    padding: 0.3125rem 1rem;
  }
}

.skillIcon {
  display: flex;

  & svg {
    width: 1.25rem;
  }
}

.large {
  & svg {
    height: auto;
    width: 1.875rem;
  }
}

@media screen and (max-width: 40rem) {
  .skill {
    font-size: 0.875rem;

    &.pill,
    &.pillCondensed {
      padding: 0.1875rem 0.875rem;
    }
  }

  .skillIcon {
    & svg {
      width: 1rem;
    }
  }
}
