.experience {
  gap: 1.875rem;
}

.companyLogoContainer {
  align-items: center;
  background: white;
  border-radius: 50%;
  display: flex;
  height: 4.6875rem;
  justify-content: center;
  padding: 0.9375rem;
  position: relative;
  width: 4.6875rem;
}

.companyLogo {
  height: auto;
  width: 100%;
}

.experienceHeader {
  gap: 0.3125rem;
}

.location {
  font-size: 0.75rem;
  gap: 0.375rem;
}

.positionMeta {
  align-items: start;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.positionTitle {
  font-size: 1.25rem;
  font-family: var(--font-montserrat);
  font-weight: bold;
  text-transform: uppercase;
}

.companyName {
  font-family: var(--font-montserrat);
  font-size: 0.875rem;
  font-style: italic;
}

.dates {
  color: var(--gray);
}

.positionDescriptionList {
  list-style: none;
}

.positionDescription:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 40.0625rem) {
  .experience {
    margin-left: 2.375rem;
    padding-bottom: 5rem;
    padding-left: 4.375rem;
    padding-top: 0.625rem;
    position: relative;

    &:not(.lastExperience) {
      border-left: 1px solid var(--yellow);
    }
  }

  .companyLogoContainer {
    left: -2.375rem;
    position: absolute;
    top: 0;
  }
}

@media screen and (max-width: 40rem) {
  .positionMeta {
    flex-direction: column;
    gap: 0.3125rem;
  }

  .dates {
    font-size: 0.875rem;
  }
}
