.projectDetailContainer {
  --gap: 3.75rem;
}

.mainContent {
  grid-template-columns: 1.25fr 0.75fr;
}

.summary {
  --gap: 1.5625rem;
}

.header {
  --gap: 0.75rem;
}

.experience {
  --gap: 0.5rem;

  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

.keyFeaturesSection {
  --gap: 1.5rem;
}

.keyFeaturesList {
  margin-left: 1.5rem;
}

.keyFeature:not(:last-of-type) {
  padding-bottom: 1rem;
}

.rightPanel {
  --gap: 3rem;
}

.buttons {
  --gap: 1.5rem;
}

.button {
  text-align: center;
  width: 100%;
}

.imageList {
  --gap: 3.5rem;
}

@media screen and (max-width: 47.9375rem) {
  .projectDetailContainer {
    --gap: 2.8125rem;
  }

  .header {
    --gap: 1rem;
  }

  .experience {
    align-items: flex-start;
    flex-direction: column;
  }

  .role {
    font-size: var(--font-size-medium);
  }

  .experienceSeparator {
    display: none;
  }

  .mainContent {
    grid-template-columns: 1fr;
  }

  .rightPanel {
    flex-direction: column-reverse;
  }
}
