.buttonLink {
  background: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 0.3125rem;
  color: var(--green-dark);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.5rem 0.9375rem;

  transition:
    background-color 0.3s ease,
    border 0.3s ease,
    color 0.3s ease;

  &:hover {
    background: var(--green-dark);
    color: var(--yellow);

    transition:
      background-color 0.3s ease,
      border 0.3s ease,
      color 0.3s ease;
  }
}
